In [57]:
import polars as pl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [58]:
df = pl.read_csv('hehe.csv')
df.head(5)

shape: (5, 9)
┌─────┬────────┬────────┬──────────┬───┬───────────────┬─────────────┬────────────────┬────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ … ┆ region        ┆ charges     ┆ heart_disease_ ┆ occupation │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---           ┆ ---         ┆ history        ┆ ---        │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆   ┆ str           ┆ f64         ┆ ---            ┆ str        │
│     ┆        ┆        ┆          ┆   ┆               ┆             ┆ str            ┆            │
╞═════╪════════╪════════╪══════════╪═══╪═══════════════╪═════════════╪════════════════╪════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ … ┆ Asia          ┆ 16884.924   ┆ no             ┆ student    │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ … ┆ North America ┆ 1725.5523   ┆ yes            ┆ salaried   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ … ┆ Africa        ┆ 4449.462    ┆ yes            ┆ student    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ … ┆ Oceania       ┆ 21984.47061 ┆ no             ┆ student    │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ … ┆ Europe        ┆ 3866.8552   ┆ no             ┆ business   │
└─────┴────────┴────────┴──────────┴───┴───────────────┴─────────────┴────────────────┴────────────┘

In [59]:
df

shape: (2_022_772, 9)
┌─────┬────────┬────────┬──────────┬───┬───────────────┬─────────────┬────────────────┬────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ … ┆ region        ┆ charges     ┆ heart_disease_ ┆ occupation │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---           ┆ ---         ┆ history        ┆ ---        │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆   ┆ str           ┆ f64         ┆ ---            ┆ str        │
│     ┆        ┆        ┆          ┆   ┆               ┆             ┆ str            ┆            │
╞═════╪════════╪════════╪══════════╪═══╪═══════════════╪═════════════╪════════════════╪════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ … ┆ Asia          ┆ 16884.924   ┆ no             ┆ student    │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ … ┆ North America ┆ 1725.5523   ┆ yes            ┆ salaried   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ … ┆ Africa        ┆ 4449.462    ┆ yes            ┆ student    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ … ┆ Oceania       ┆ 21984.47061 ┆ no             ┆ student    │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ … ┆ Europe        ┆ 3866.8552   ┆ no             ┆ business   │
│ …   ┆ …      ┆ …      ┆ …        ┆ … ┆ …             ┆ …           ┆ …              ┆ …          │
│ 22  ┆ male   ┆ 31.4   ┆ 5        ┆ … ┆ Oceania       ┆ 49085.12    ┆ no             ┆ unemployed │
│ 25  ┆ female ┆ 39.3   ┆ 3        ┆ … ┆ South America ┆ 47172.63    ┆ yes            ┆ unemployed │
│ 29  ┆ male   ┆ 32.4   ┆ 3        ┆ … ┆ Europe        ┆ 41218.82    ┆ yes            ┆ student    │
│ 25  ┆ male   ┆ 39.5   ┆ 5        ┆ … ┆ Antarctica    ┆ 49402.26    ┆ no             ┆ salaried   │
│ 26  ┆ female ┆ 25.6   ┆ 3        ┆ … ┆ South America ┆ 18855.9     ┆ yes            ┆ salaried   │
└─────┴────────┴────────┴──────────┴───┴───────────────┴─────────────┴────────────────┴────────────┘

In [60]:
# checking for null values
df.drop_nulls()

shape: (2_022_772, 9)
┌─────┬────────┬────────┬──────────┬───┬───────────────┬─────────────┬────────────────┬────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ … ┆ region        ┆ charges     ┆ heart_disease_ ┆ occupation │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---           ┆ ---         ┆ history        ┆ ---        │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆   ┆ str           ┆ f64         ┆ ---            ┆ str        │
│     ┆        ┆        ┆          ┆   ┆               ┆             ┆ str            ┆            │
╞═════╪════════╪════════╪══════════╪═══╪═══════════════╪═════════════╪════════════════╪════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ … ┆ Asia          ┆ 16884.924   ┆ no             ┆ student    │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ … ┆ North America ┆ 1725.5523   ┆ yes            ┆ salaried   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ … ┆ Africa        ┆ 4449.462    ┆ yes            ┆ student    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ … ┆ Oceania       ┆ 21984.47061 ┆ no             ┆ student    │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ … ┆ Europe        ┆ 3866.8552   ┆ no             ┆ business   │
│ …   ┆ …      ┆ …      ┆ …        ┆ … ┆ …             ┆ …           ┆ …              ┆ …          │
│ 22  ┆ male   ┆ 31.4   ┆ 5        ┆ … ┆ Oceania       ┆ 49085.12    ┆ no             ┆ unemployed │
│ 25  ┆ female ┆ 39.3   ┆ 3        ┆ … ┆ South America ┆ 47172.63    ┆ yes            ┆ unemployed │
│ 29  ┆ male   ┆ 32.4   ┆ 3        ┆ … ┆ Europe        ┆ 41218.82    ┆ yes            ┆ student    │
│ 25  ┆ male   ┆ 39.5   ┆ 5        ┆ … ┆ Antarctica    ┆ 49402.26    ┆ no             ┆ salaried   │
│ 26  ┆ female ┆ 25.6   ┆ 3        ┆ … ┆ South America ┆ 18855.9     ┆ yes            ┆ salaried   │
└─────┴────────┴────────┴──────────┴───┴───────────────┴─────────────┴────────────────┴────────────┘

In [61]:
df = df.rename({"sex": "gender"})

In [62]:
df.filter(df.is_duplicated())

shape: (74, 9)
┌─────┬────────┬────────┬──────────┬───┬───────────────┬─────────────┬────────────────┬────────────┐
│ age ┆ gender ┆ bmi    ┆ children ┆ … ┆ region        ┆ charges     ┆ heart_disease_ ┆ occupation │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---           ┆ ---         ┆ history        ┆ ---        │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆   ┆ str           ┆ f64         ┆ ---            ┆ str        │
│     ┆        ┆        ┆          ┆   ┆               ┆             ┆ str            ┆            │
╞═════╪════════╪════════╪══════════╪═══╪═══════════════╪═════════════╪════════════════╪════════════╡
│ 62  ┆ female ┆ 32.965 ┆ 3        ┆ … ┆ Antarctica    ┆ 15612.19335 ┆ yes            ┆ student    │
│ 57  ┆ male   ┆ 34.01  ┆ 0        ┆ … ┆ Oceania       ┆ 11356.6609  ┆ yes            ┆ salaried   │
│ 22  ┆ female ┆ 28.05  ┆ 0        ┆ … ┆ Antarctica    ┆ 2155.6815   ┆ yes            ┆ student    │
│ 34  ┆ male   ┆ 22.42  ┆ 2        ┆ … ┆ Antarctica    ┆ 27375.90478 ┆ yes            ┆ unemployed │
│ 18  ┆ female ┆ 38.28  ┆ 0        ┆ … ┆ South America ┆ 1631.8212   ┆ yes            ┆ student    │
│ …   ┆ …      ┆ …      ┆ …        ┆ … ┆ …             ┆ …           ┆ …              ┆ …          │
│ 42  ┆ male   ┆ 26.315 ┆ 1        ┆ … ┆ Oceania       ┆ 6940.90985  ┆ no             ┆ business   │
│ 39  ┆ female ┆ 26.315 ┆ 2        ┆ … ┆ Europe        ┆ 7201.70085  ┆ no             ┆ student    │
│ 39  ┆ female ┆ 24.225 ┆ 5        ┆ … ┆ South America ┆ 8965.79575  ┆ no             ┆ business   │
│ 18  ┆ male   ┆ 23.21  ┆ 0        ┆ … ┆ Europe        ┆ 1121.8739   ┆ no             ┆ student    │
│ 23  ┆ male   ┆ 18.715 ┆ 0        ┆ … ┆ Antarctica    ┆ 21595.38229 ┆ no             ┆ business   │
└─────┴────────┴────────┴──────────┴───┴───────────────┴─────────────┴────────────────┴────────────┘

In [63]:
df = df.filter(df.is_unique())

In [64]:
df

shape: (2_022_698, 9)
┌─────┬────────┬────────┬──────────┬───┬───────────────┬─────────────┬────────────────┬────────────┐
│ age ┆ gender ┆ bmi    ┆ children ┆ … ┆ region        ┆ charges     ┆ heart_disease_ ┆ occupation │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---           ┆ ---         ┆ history        ┆ ---        │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆   ┆ str           ┆ f64         ┆ ---            ┆ str        │
│     ┆        ┆        ┆          ┆   ┆               ┆             ┆ str            ┆            │
╞═════╪════════╪════════╪══════════╪═══╪═══════════════╪═════════════╪════════════════╪════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ … ┆ Asia          ┆ 16884.924   ┆ no             ┆ student    │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ … ┆ North America ┆ 1725.5523   ┆ yes            ┆ salaried   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ … ┆ Africa        ┆ 4449.462    ┆ yes            ┆ student    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ … ┆ Oceania       ┆ 21984.47061 ┆ no             ┆ student    │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ … ┆ Europe        ┆ 3866.8552   ┆ no             ┆ business   │
│ …   ┆ …      ┆ …      ┆ …        ┆ … ┆ …             ┆ …           ┆ …              ┆ …          │
│ 22  ┆ male   ┆ 31.4   ┆ 5        ┆ … ┆ Oceania       ┆ 49085.12    ┆ no             ┆ unemployed │
│ 25  ┆ female ┆ 39.3   ┆ 3        ┆ … ┆ South America ┆ 47172.63    ┆ yes            ┆ unemployed │
│ 29  ┆ male   ┆ 32.4   ┆ 3        ┆ … ┆ Europe        ┆ 41218.82    ┆ yes            ┆ student    │
│ 25  ┆ male   ┆ 39.5   ┆ 5        ┆ … ┆ Antarctica    ┆ 49402.26    ┆ no             ┆ salaried   │
│ 26  ┆ female ┆ 25.6   ┆ 3        ┆ … ┆ South America ┆ 18855.9     ┆ yes            ┆ salaried   │
└─────┴────────┴────────┴──────────┴───┴───────────────┴─────────────┴────────────────┴────────────┘

In [65]:
df.is_duplicated().any()

False

In [66]:
le = LabelEncoder()
df = df.with_columns(pl.Series("gender", le.fit_transform(df["gender"].to_list())))
df

shape: (2_022_698, 9)
┌─────┬────────┬────────┬──────────┬───┬───────────────┬─────────────┬────────────────┬────────────┐
│ age ┆ gender ┆ bmi    ┆ children ┆ … ┆ region        ┆ charges     ┆ heart_disease_ ┆ occupation │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---           ┆ ---         ┆ history        ┆ ---        │
│ i64 ┆ i64    ┆ f64    ┆ i64      ┆   ┆ str           ┆ f64         ┆ ---            ┆ str        │
│     ┆        ┆        ┆          ┆   ┆               ┆             ┆ str            ┆            │
╞═════╪════════╪════════╪══════════╪═══╪═══════════════╪═════════════╪════════════════╪════════════╡
│ 19  ┆ 0      ┆ 27.9   ┆ 0        ┆ … ┆ Asia          ┆ 16884.924   ┆ no             ┆ student    │
│ 18  ┆ 1      ┆ 33.77  ┆ 1        ┆ … ┆ North America ┆ 1725.5523   ┆ yes            ┆ salaried   │
│ 28  ┆ 1      ┆ 33.0   ┆ 3        ┆ … ┆ Africa        ┆ 4449.462    ┆ yes            ┆ student    │
│ 33  ┆ 1      ┆ 22.705 ┆ 0        ┆ … ┆ Oceania       ┆ 21984.47061 ┆ no             ┆ student    │
│ 32  ┆ 1      ┆ 28.88  ┆ 0        ┆ … ┆ Europe        ┆ 3866.8552   ┆ no             ┆ business   │
│ …   ┆ …      ┆ …      ┆ …        ┆ … ┆ …             ┆ …           ┆ …              ┆ …          │
│ 22  ┆ 1      ┆ 31.4   ┆ 5        ┆ … ┆ Oceania       ┆ 49085.12    ┆ no             ┆ unemployed │
│ 25  ┆ 0      ┆ 39.3   ┆ 3        ┆ … ┆ South America ┆ 47172.63    ┆ yes            ┆ unemployed │
│ 29  ┆ 1      ┆ 32.4   ┆ 3        ┆ … ┆ Europe        ┆ 41218.82    ┆ yes            ┆ student    │
│ 25  ┆ 1      ┆ 39.5   ┆ 5        ┆ … ┆ Antarctica    ┆ 49402.26    ┆ no             ┆ salaried   │
│ 26  ┆ 0      ┆ 25.6   ┆ 3        ┆ … ┆ South America ┆ 18855.9     ┆ yes            ┆ salaried   │
└─────┴────────┴────────┴──────────┴───┴───────────────┴─────────────┴────────────────┴────────────┘

In [67]:
df = df.with_columns(pl.Series("smoker", le.fit_transform(df["smoker"].to_list())))

In [68]:
df = df.with_columns(pl.Series("region", le.fit_transform(df["region"].to_list())))

In [69]:
df = df.with_columns(pl.Series("heart_disease_history", le.fit_transform(df["heart_disease_history"].to_list())))

## Model Creation

In [70]:
df = df.with_columns(pl.Series("occupation", le.fit_transform(df["occupation"].to_list())))

In [71]:

X = df.drop("charges").to_numpy()
y = df["charges"].to_numpy() 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Define the parameter grid
param_grid = {
    "n_estimators": [100, 200, 300],
    "max_depth": [None, 10, 20, 30],
    "min_samples_split": [2, 5, 10],
}

# Initialize the model
rf_model = RandomForestRegressor(random_state=42)

# Perform grid search with cross-validation
grid_search = GridSearchCV(
    estimator=rf_model, param_grid=param_grid, cv=5, scoring="neg_mean_squared_error"
)

# Fit the grid search model
grid_search.fit(X_train, y_train)

# Get the best parameters and the best model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

print(f"Best Parameters: {best_params}")

# Predict using the best model
y_pred_best = best_model.predict(X_test)

# Evaluate the best model
mse_best = mean_squared_error(y_test, y_pred_best)
mae_best = mean_absolute_error(y_test, y_pred_best)
r2_best = r2_score(y_test, y_pred_best)

print(f"Best Random Forest MSE: {mse_best}")
print(f"Best Random Forest MAE: {mae_best}")
print(f"Best Random Forest R²: {r2_best}")

In [46]:
import pickle


with open("rf_model.pkl", "wb") as f:
    pickle.dump(best_model, f)